@media (min-width: 200px) and (max-width: 1200x) {
    body{
      background-color:  rgb(158, 203, 197);
    }
  }
body{
    font-size: 2em;
    padding: 10px 100px;
    text-align: justify;
    height: fit-content;
}
img{
    width: 300px;
    padding: 20px;
}
span{
    display: flex;
}
header{
    background-image: url(../images/annie-spratt-unsplash.jpg);
}
.first{
    background-image: url(../images/annie-spratt-unsplash.jpg);
}
.work{
    background-image: url(../images/sharon-mccutcheon-unsplash.jpg);
}
.school{
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
}